*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    scroll-behavior: smooth;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    border: 0;
    vertical-align: baseline;
    background-image: url(../img/backgr.jpg);
}
.cv_navbar{
    background-color: rgb(255, 255, 255,0.7)!important;

}
.Informacion,.habilidad,.educacion,.lenguajes,.contacto,.formulario-de-contacto{
    padding: 40px;
    min-height: 330px;
}
.Informacion,.habilidad,.educacion,.lenguajes,.contacto,.formulario-de-contacto{
    margin-top: 30px;
}
#home{
    text-align: center;
    min-height: 400px;
    overflow: hidden;
    position: relative;
    padding-top: 160px;
    padding-bottom: 140px;
}
#home img{
    display: inline-block !important;
    border: 3px solid white;
    padding: 5px;
    border-radius: 50%;
}
#home h2{
    padding: 20px;
}
.Informacion{
    background-color: white;
}
.habilidad{
    background: #1b1b1a;
    color: #f5f5f5;
}
.habilidad ul{
    list-style: none;
    text-align: left;
	display: inline-block;
}
.educacion{
    background: #1b1b1a;
    color: #f5f5f5;
}
.educacion {
    padding: 14px;
}
.educacion span{
    margin-right: 10px;
    margin-left: 20px;
}
.lenguajes{
    background: white;
    margin-top: 27px;
}
.lenguajes ul{
    padding: 10px;
    text-align: left;
	display: inline-block;
}
.lenguajes ul li{
    padding-bottom: 6px;
}
.contacto{
    width: 100%;
    background: white;
    text-align: left;
	display: inline-block;
}

.formulario-de-contacto{
    background: #1b1b1a;
    color: #f5f5f5;
    
    
}
.form{
    background-color: #ffff;
    width: 90%;
    margin: auto;
    max-width: 400px;
    border-radius: 1em;
    padding:1.5em 1.5em ;
}

.cta{
    width: 90%;
    margin: auto;
    max-width: 187px;
    background: grey;
    color: #ffff;
    
}
#foot{
    padding: 15px;
    color:black;
    margin: auto;

}

